.appBar {
  z-index: 1201; /* AppBar should be above the Sidebar */
}

.sidebarComponent {
  z-index: 1200; /* Sidebar should be below the AppBar */
  position: fixed;
  top: 64px;
  height: calc(100% - 64px);
  overflow: auto;
}

.mainContent {
  height: 100%;
  background-color: rgba(245, 245, 245, 0.8);
}
