# Python
*.pyc
*.pyo
__pycache__/
venv/
*.egg-info/
dist/
build/

# Node.js
node_modules/
yarn.lock
package-lock.json
pnpm-lock.yaml

# General
*.log
*.DS_Store
*.env

# Flask
/backend/migrations/
/backend/instance/
*.sqlite

# private
/developer_private/*

# IDE-specific
.vscode/
.idea/