# General
*.log
*.pyc
*.pyo
*.DS_Store
*.env

# Root file
/node_modules

# Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.eslintcache

# Backend
/backend/venv/
/backend/__pycache__/
/backend/migrations/
/backend/instance/
/backend/venv/
*.sqlite
*.pyc

# private
/developer_private/*

# IDE-specific
.vscode/
.idea/